<h1>The Engine Room</h1>
<h3>Car Showroom</h3>

<nav class ="main-nav">
    <a class="btn" href="/cars/new">New Entry(Car)</a>
    <a class="btn" href="/manufacturers/new">New Entry(Manufacturer)</a>
    <a class="btn" href="/cars">Show Inventory</a>
</nav>

