<h1>The Engine Room</h1>
<h3>Car Showroom</h3>

<nav class ="index-nav">
    <a class="btn btn-index" id="home-btn" href="/">Home</a>
    <a class="btn btn-index" id="stock-list-btn" href="/cars">Stock List</a>
    <a class="btn btn-index" id="manufacturer-list-btn" href="/manufacturers">Manufacturer List</a>
</nav>

<ul>
    <% for manufacturer in @manufacturers %>
    <li class="obj-container">
        <p class="obj-header">Manufacturer Name: <%= manufacturer.name %></p>
        <p class="obj-header">Models Currently Stocked: <%= manufacturer.models %>
        </p>
        <a class="btn" href="/manufacturers/<%= manufacturer.id %>">Details</a>
    </li>
    <% end %>
    <li><a class="obj-container" id="obj-container-placeholder" href="/manufacturers/new">New Entry(Manufacturer)</a></li>
</ul>