<div class="logo-index">
    <img src="/images/engine.png" alt="Logo goes here." width=100px height=100px/>
    <div class="header">
        <h1>The Engine Room</h1>
        <h3>Car Showroom</h3>
    </div>
</div>

<nav class ="index-nav">
    <a class="btn btn-index" href="/">Home</a>
    <a class="btn btn-index" href="/cars">Stock List</a>
    <a class="btn btn-index current" href="/manufacturers">Manufacturer List</a>
</nav>

<ul class="obj-div">
    <% for manufacturer in @manufacturers %>
    <li class="obj-container-manu">
        <p class="obj-header">Manufacturer Name: <%= manufacturer.name %></p>
        <p class="obj-header">HQ: <%= manufacturer.hq %></p>
        <p class="obj-header">Telephone Number: <%= manufacturer.tel_no %></p>
        <a class="btn" href="/manufacturers/<%= manufacturer.id %>">Details</a>
    </li>
    <% end %>
    <li><a class="obj-container" id="obj-container-placeholder" href="/manufacturers/new">+</a></li>
</ul>