<h3>New Entry</h3>

<form method="post" action="/manufacturers">
    <label for="name-input">Manufacturer Name: </label>
        <input id="name-input" type="text" name="name"/>
    <hr/>
    <a class="btn" href="/manufacturers">Back To Inventory</a>
    <input class="btn" type="submit" value="Add Manufacturer"/>
</form>