<div class="show-info-div">
    <p class="show-info">Manufacturer Name: <%= @manufacturer.name %></p>
    <p class="show-info">Manufacturer Name: <%= @manufacturer.hq %></p>
    <p class="show-info">Manufacturer Name: <%= @manufacturer.tel_no %></p>
    <hr/>

    <div class ="btn-div">
        <form method="get" action="/manufacturers">
            <input class="btn btn-show" type="submit" value="Back To Inventory"/>
        </form>
            
        <form method="post" action="/manufacturers/<%= @manufacturer.id %>/delete">
            <input class="btn btn-show" type="submit" value="Delete Manufacturer"/>
        </form>
    </div>
</div>