<h3>New Entry</h3>

<form method="post" action="/cars">
    <label for="manufacturer-select">Manufacturer: </label>
        <select id="manufacturer-select" name="manufacturer">
            <% @manufacturers.each do |manufacturer| %>
            <option value="<%= manufacturer.id%>"><%= manufacturer.name%></option>
            <% end %>
        </select>

    <label for="model-input">Model: </label>
        <input id="model-input" type="text" name="model"/>

    <label for="condition-select">Condition: </label>
        <select id="condition-select" name="condition">
            <option value="New">New</option>
            <option value="Used - Like New">Used - Like New</option>
            <option value="Used - Good">Used - Good</option>
            <option value="Used - Fair">Used - Fair</option>
            <option value="Spares/Repairs">Spares/Repairs</option>
        </select>

    <label for="type-select">Type: </label>
        <select id="type-select" name="type">
            <option value="Hatchback">Hatchback</option>
            <option value="Coupe">Coupe</option>
            <option value="Saloon">Saloon</option>
            <option value="Estate">Estate</option>
            <option value="Convertible">Convertible</option>
            <option value="SUV">SUV</option>
            <option value="MPV">MPV</option>
            <option value="Commercial">Commercial</option>
        </select>
</form>