<h3>New Entry</h3>

<form class="new-entry-div" method="post" action="/cars">
    <label for="manufacturer-select">Manufacturer:</label>
        <select id="manufacturer-select" name="manufacturer">
            <% @manufacturers.each do |manufacturer| %>
            <option value="<%= manufacturer.id%>"><%= manufacturer.name%></option>
            <% end %>
        </select>

    <label for="model-input">Model:</label>
        <input id="model-input" type="text" name="model"/>

    <label for="condition-select">Condition:</label>
        <select id="condition-select" name="condition">
            <option value="New">New</option>
            <option value="Used - Like New">Used - Like New</option>
            <option value="Used - Good">Used - Good</option>
            <option value="Used - Fair">Used - Fair</option>
            <option value="Spares/Repairs">Spares/Repairs</option>
        </select>

    <label for="type-select">Type:</label>
        <select id="type-select" name="type">
            <option value="Hatchback">Hatchback</option>
            <option value="Coupe">Coupe</option>
            <option value="Saloon">Saloon</option>
            <option value="Estate">Estate</option>
            <option value="Convertible">Convertible</option>
            <option value="SUV">SUV</option>
            <option value="MPV">MPV</option>
            <option value="Commercial">Commercial</option>
        </select>

    <label for="year-input">Year:</label>
        <input id="year-input" type="text" name="year"/>
    
    <label for="engine-input">Engine: </label>
        <input id="engine-input" type="text" name="engine"/>

    <label for="transmission-select">Transmission:</label>
        <select id="transmission-select" name="transmission">
            <option value="Automatic">Automatic</option>
            <option value="Manual">Manual</option>
        </select>

    <label for="fuel_type-select">Fuel Type:</label>
        <select id="fuel_type-select" name="fuel_type">
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="Electric">Electric</option>
        </select>

    <label for="description-input">Description:</label>
        <textarea id="description-input" type="text" name="description"></textarea>

    <label for="stock-input">Stock:</label>
        <input id="stock-input" type="number" name="stock"/>

     <label for="buy_price-input">Buy Price(£):</label>
        <input id="buy_price-input" type="number" name="buy_price"/>

    <label for="sell_price-input">Sell Price(£):</label>
        <input id="sell_price-input" type="number" name="sell_price"/>

        <input class="btn btn-show" type="submit" value="Add Car"/>
</form>
<hr/>
    <div class="new-entry-div">
        <form method="get" action="/cars">
            <input class="btn btn-show" type="submit" value="Back To Inventory"/>
        </form>
    </div>